<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://kit.fontawesome.com/e229a662f0.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/703cabedfb.js"></script>
    <script src="https://use.fontawesome.com/48cbd144bf.js"></script>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Share Aquarium</title>
    <link rel="icon" type="image/x-icon" href="/images/fish.png">
  </head>
  <body>
    <header class="flex-basics class="full-width"">
      <h1>Share Aquarium</h1>
      <nav class="flex-basics full-width">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <% if (currentUser) { %>
          <a href="/dashboard/logout">Logout</a>
        <% } else { %>
          <a href="/dashboard/login">Login</a>
        <% } %>
      </nav>

    </header>
  </html>
