<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Share Aquarium</title>
    <link rel="icon" type="image/x-icon" href="/images/fish.png">
  </head>
  <body>
    <header class="flex-basics class="full-width"">
      <h1>Share Aquarium</h1>
      <nav class="flex-basics full-width">
        <a href="/">Home</a>
        <a href="/share.html">Share</a>
      </nav>
    </header>

    <button onclick="topFunction()" id="myBtn" class="btn" title="Go to top">BACK TO TOP</button>

    <a class="btn share-btn" href="/share.html"><button class="btn share-btn">SHARE YOUR AQUARIUM</button></a>

    <% for(let i=0; i < aquariums.length; i++) {%>
      <section class="flex-basics regular-text displays">
        <div class="display-container">
          <div class="full-width displays-divs">
            <h2 class="regular-text displays-items">Tank Name: <span class="regular-text displays-items"><%= aquariums[i].name %></span></h2>
          </div>
          <div class="full-width flex-basics">
            <img class="displays-items" src="images/fish1.jpg" alt="Fish tank">
          </div>
          <div class="full-width displays-divs">
            <h3 class="regular-text displays-items">Tank Size: <span class="regular-text displays-items"><%= aquariums[i].tankSize %></span> Gallons</h3>
          </div>
          <div class="full-width displays-divs">
            <h3 class="regular-text displays-items"><span class="regular-text displays-items"><%= aquariums[i].description %></span></h3>
          </div>
        </div>
      </section>
    <% } %>


    <footer class="flex-basics full-wdith">
    </footer>

    <script src="main.js"></script>
  </body>
</html>
