<%- include('partials/header') -%>



<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <div class="login-signup-div">
        <form class="login-signup" action="/dashboard/login" method="POST">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger" style="font-size:1.5rem"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info" style="font-size:1.5rem"><%= el.msg %></div>
          <% }) %> <% } %>
          <h1>Login</h1>
          <div class="login-signup-inner-div">
            <div class="login-signup-item">
              <label for="exampleInputEmail1">Email address: </label>
              <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
            </div>
            <div class="login-signup-item">
              <label for="exampleInputPassword1" class="form-label">Password: </label>
              <input type="password" id="exampleInputPassword1" name="password"/>
            </div>
          </div>
          <button type="submit" class="submit-button">Submit</button>
          <span style="font-size:1.5rem">Don't have an account yet? <a href="/dashboard/signup" style="font-size:1.5rem">Sign Up</a> here.</span>
        </form>

    </div>
    </section>
  </div>
</main>

</body>
</html>
