<%- include('partials/header') -%>



<main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <div class="login-signup-div">
                  <form class="login-signup" action="/dashboard/signup" method="POST">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <% messages.info.forEach( el => { %>
                            <div class="alert alert-info"><%= el.msg %></div>
                        <% }) %>
                    <% } %>
                    <h1>Signup</h1>
                    <div class="login-signup-inner-div">
                        <div class="login-signup-item">
                            <label for="userName">User Name: </label>
                            <input type="text" id="userName" name="userName">
                          </div>
                        <div class="login-signup-item">
                          <label for="exampleInputEmail1">Email address: </label>
                          <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                        </div>
                        <div id="emailHelp">We'll never share your email with anyone else.</div>
                        <div class="login-signup-item">
                          <label for="password">Password: </label>
                          <input type="password" id="password" name="password">
                        </div>
                        <div class="login-signup-item">
                            <label for="confirmPassword">Confirm Password: </label>
                            <input type="password" id="confirmPassword" name="confirmPassword">
                          </div>
                      </div>
                      <button type="submit" class="submit-button">Submit</button>
                      <span>Already have an account? <a href="/dashboard/login">Log In</a> here.</span>
                    </form>

                </div>
            </section>
        </div>
    </main>

  </body>
  </html>
