* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #08f5ec;
  min-height:100vh;
}

/*header*/

.zoom-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;
    position: fixed;
    top: 0;
}

.minimize-div {
  background: black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-pic-minimize {
  color: white;
  margin: 10px;
  z-index: 25;
}

.zoom-div {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#zoom-pic {
  max-width: 95%;
  max-height: 95%;
  margin-top: -50px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 110px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 10; /* Make sure it does not overlap */
}

.hidden {
  display: none !important;
}

nav a {
  color: white;
  margin: 5px 0px 15px 0px;
  padding: 0 15px;
  font-size: 2rem;
  cursor: pointer;
  border-right: 1px solid white;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  color: #08f5ec;
}

nav a:active {
  color: navy;
}

header {
  display: flex;
  background: black;
  margin-bottom: 25px;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

footer {
  height: 100px;
  background: black;
  margin-top: 75px;
}

header h1 {
  font-size: 3rem;
  color: white;
  padding: 15px;
  text-transform: uppercase;
  word-spacing: 1rem;
}

.btn {
  padding: 15px;
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  max-width: 90%;
  text-shadow: 1px 1px black;
}

.btn:hover,
nav a:hover {
  color: #08f5ec;
}

.btn:active {
  color: navy;
  background: gray;
}

.share-btn {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

.sec-header {
  display: flex;
  justify-content: center;
}

.sec-header h1 {
  text-align: center;
  width: 95%;
  max-width: 300px;
  background: teal;
  font-size: 3rem;
  margin: 10px 15px;
  font-size: 2rem;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
}

.display-name-user {
  display:flex;
  width:100%;
  justify-content:space-between;
}

.display-name-user a:hover {
  color: #08f5ec;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}

.display-name-user a:active {
  color: purple;
}

.main-pic-img {
  cursor: pointer;
}



/*sort and filter section*/
#sort-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-filter {
    color: black;
    margin-bottom: 5px;
    cursor: pointer;
}

#filter-section {
  width: 80%;
  background: white;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
  padding: 25px;
  font-size: 1.5rem;
}

#filter-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filter-half {
  padding: 10px;
  width: 50%;
}

#select-sort-by,
#filterWaterType,
option,
select {
  font-size: 1.5rem;
}

select {
  margin: 5px 0;
}

#sort-by h2,
#sort-by h3 {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.sort-filter-div {
  display: flex;
  justify-content: center;
}

.sort-filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.sort-filter-item label {
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
.sort-filter-item select {
  width: 70%;
}

#sort-items {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.sort-items {
  font-size: 1.2rem;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid black;
  cursor: pointer;
}

.sort-items:hover {
  font-weight: bold;
}

#first-sort {
  border-left: none;
}

.submit-button {
  background: teal;
  color: white;
  padding: 10px 12px;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  color: #08f5ec;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}

.submit-button:active {
  color: purple;
}



/*main aquarium display on home page*/
.display-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-section {
  padding: 25px;
  display: flex;
  background: white;
  border-radius: 10px;
  margin: 25px 0;
  width: 80%;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}

.display-half {
  padding: 20px;
  display: flex;
  width: 50%;
}

.main-pic-likes {
  width: 100%;
}

.main-pic-icons {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-pic-img {
  width: 100%;
  margin-bottom: 10px;
}

.info-half {
  display: flex;
  flex-direction: column;
}

.info-half {
  width: 100%;
}

.info-half hr {
  width: 90%;
  text-align: center;
  margin: 15px 0;
}

.display-header {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;

}

.display-info {
  font-size: 1.8rem;
  margin: 15px 0;
}

.bubble-div {
  display: flex;
  flex-wrap: wrap;
}

.fish-bubble {
  margin: 3px 0;
  font-size: 1.5rem;
  padding: 5px 15px 7px 15px;
  background: teal;
  border-radius: 18px;
  color: white;
  margin-right: 10px;
}

.like-btn,
.fa-bookmark {
  cursor: pointer;
}

.fa-bookmark {
  margin-left: 5px;
}

.icon-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.img-icons,
.img-icons-edit {
  border: 1px solid black;
  width: 100px;
  height: 55px;
  margin: 5px 10px;
  object-fit: cover;
  flex-wrap: wrap;
  cursor: pointer;
}




/*dashboard page*/

#selection {
  display: flex;
  justify-content: center;
  width: 100%;
}

#share-sec {
  margin-top: 25px;
}

.selection-buttons {
  margin: 10px 15px;
  font-size: 2rem;
  background: teal;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
}

.selection-buttons:hover {
  color: #08f5ec;
  -moz-box-shadow: 0 0 5px 1px black;
  -webkit-box-shadow: 0 0 5px 1px black;
  box-shadow: 0 0 5px 1px black;
}

.selection-buttons:active {
  color: purple;
}

.share-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.icon-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.fa-trash,
.fa-edit {
  background: teal;
  color: white;
  margin-left: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.fa-trash:hover,
.fa-edit:hover {
  color: #08f5ec;
  -moz-box-shadow: 0 0 5px 1px black;
  -webkit-box-shadow: 0 0 5px 1px black;
  box-shadow: 0 0 5px 1px black;
}

.fa-trash:active,
.fa-edit:active {
  color: purple;
}

.edit-section,
.share-section {
  padding: 25px;
  width: 80%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}

.edit-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-form label {
  font-size: 1.8rem;
  margin-right: 10px;
  margin-top: 10px;
}

.edit-form input {
  font-size: 1.8rem;
  margin-top: 10px;
}

#edit-submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.edit-header h1 {
  font-size: 2rem;
}

.form-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 2rem;
  margin: 5px 0;
}

.delete-photos {
  display: flex;
  flex-wrap: wrap;
}

.img-cover {
  position: absolute;
  width: 100px;
  height: 55px;
  background: gray;
  margin: 5px 10px;
  opacity: 0.1;
  cursor: pointer;
}

.img-cover:hover {
  opacity: 0.5;
}

.selected-border {
  border: 5px solid black !important;
}

.form-sec textarea {
  width: 90%;
  max-width: 400px;
  font-size: 1.8rem;
}

#fish-selection {
  display: flex;
  flex-wrap: wrap;
}

.fa-circle-xmark {
  cursor: pointer;
}


/*login signup*/
.login-signup-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup {
  background: white;
  width: 95%;
  max-width: 700px;
  padding: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px 2px black;
  -webkit-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}

.login-signup h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.login-signup-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.login-signup-item label {
  margin-right: 10px;
  font-size: 1.8rem;
}

.login-signup-item input {
  font-size: 1.8rem;
}

.login-signup button {
  font-size: 1.5rem;
  margin: 5px 0;
}

.profile-link {
  text-decoration: underline;
  font-size: 2rem;
  padding: 5px 15px 7px 15px;
  background: teal;
  border-radius: 18px;
  color: white;
}

/*media queries*/
@media screen and (max-width: 1000px) {
  #filter-form {
    flex-direction: column;
    align-items: center;
  }

  #filter-section,
  #sort-items,
  .edit-section,
  .share-section {
    width: 95%;
  }

  .edit-form {
    width: 90%;
  }

  .display-section {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .display-half {
    width: 100%;
  }

  #selection {
    flex-direction: column;
  }


}


@media screen and (max-width: 400px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav a {
    border-right: none;
  }

  header h1 {
    text-align: center;
  }
}
